<html>
  <head>
    <script src="htmx.min.js"></script>
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta
      charset="utf-8"
      name="htmx-config"
      content='{"selfRequestsOnly":false}'
    />
  </head>
  <body>
    <div class="container">
      <div class="menu-container">
        <button
          class="menu-button"
          hx-trigger="click"
          hx-get="http://localhost:42000/notes"
          hx-target="#tab-content"
          hx-swap="innerHTML"
        >
          Notes
        </button>
        <button
          class="menu-button"
          hx-trigger="click"
          hx-get="http://localhost:42000/summarize"
          hx-target="#tab-content"
          hx-swap="innerHTML"
        >
          Summarize
        </button>
        <button
          class="menu-button"
          hx-trigger="click"
          hx-get="http://localhost:42000/recall"
          hx-target="#tab-content"
          hx-swap="innerHTML"
        >
          Recall
        </button>
      </div>
      <div
        id="tab-content"
        hx-get="http://localhost:42000/home"
        hx-trigger="load delay:100ms"
        hx-target="#tab-content"
        hx-swap="innerHTML"
      ></div>
    </div>
  </body>
</html>
